html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 i{
    font-family: 'Courgette', cursive;
}

#heading{
    padding: 0;
    text-align: center;
}

.seekDiv{
    display: block;
    text-align: center;
    padding-top: 20px;
}

.inputDiv{
    padding-top: 20px;
    text-align: center;
}

